<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alex Martin Loewi">

    <!-- Bootstrap core CSS -->
    <link href="/static/libraries/bootstrap/css/bootstrap.css" rel="stylesheet">

  </head>
  <body>

    <!-- <iframe width="560" height="315"
    src="https://www.youtube.com/embed/DtBj7alV4AI?start=52&end=56&version=3"
    frameborder="0" allowfullscreen></iframe> -->

    <div class="container" style="position:absolute; top:5%;">
      <div class="row col-md-offset-4">
        <!-- style='position:absolute; margin:auto; top:20%; left:50%; transform: translate(-50%, -50%);' -->
        <!-- width="320" height="240" -->

        <!-- <div class="row col-md-4" style="color:lightgray; margin-left:20px; 20px">
          Baltimore Sun, May 11, "Trump is Great", Bonald Drumpf
        </div> -->

        <video class="col-md-7"
        controls autoplay loop>
          <source src="static/videos/long_clip.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>


        <div class="row col-md-offset-4">
          <div class="col-md-7" style="font-family:serif">

            <h4>Let this be where it ends.</h4>
            <br>
            It doesn't matter who he's talking about, because he's wrong.
            No matter what, he's wrong. If there is one truth that matters, it
            is this one. And he snarls it away, to people who nod, believing.
            <br><br>
            Any article about Donald Trump, that's talking about his electability,
            or his strange appeal, or even his clownishness -- send the journalist here. Any
            show, that focusses on any aspect of him that isn't this one -- send
            the anchor here. Any joke, any quip, any song, send the writer, send
            the pundit, send the marketing executive, call them, write them, berate them,
            cajole them, to come here, because this is the story. This is the story
            and nothing else is, any more.
            <br><br>
            Because they are people.
            <br><br>
            And there is literally nothing in the world that matters more than that.
          </div>
        </div>
      </div>


    <!-- This is the Republican front-runner, talking about people. It doesn't actually
    matter who, because he's wrong, no matter who they are. They are people.

    This is the Republican party's leading candidate,

    This is Donald Trump, who has gotten more votes in the  -->


  </body>
</html>
